snippet valp "validates presence (ruby 1.9)"
validates :${1:attribute}, presence: true
endsnippet

snippet it "create it statement for rspec"
it '${1:test}' do
end
endsnippet

snippet add_column "add column in a migration"
add_column :${1:table}, :${2:column}, :${3: :boolean, :datetime, :float, :integer, :string, :text, :time}
endsnippet

snippet describe "create describe and it statement for rspec"
describe '${1:something}' do
  it '${2:test}' do
    $0
  end
end
endsnippet
