snippet do "Create a do end block"
do
  $0
end
endsnippet

snippet doa "Create a do end block with an argument"
do |${1:arg1}|
  $0
end
endsnippet

snippet def "Create a method"
def ${1:method_name}${2: ${3:*args}}
  ${0:# TODO}
end
endsnippet
