extends javascript

snippet reduce "reduce()" b
reduce<$3>((result, $1) => {
  $0
  return result;
}, $2)
endsnippet

snippet f "arrow function" w
($1) => {
  $0
}
endsnippet

snippet fd "arrow function with destructure" w
({ $1 }) => {
  $0
}
endsnippet
